/* style.css */
:root {
    --rosa-claro: #fff0f5;
    --rosa-fundo: #ffffff;
    --rosa-destaque: #d4a5a5;
    --rosa-mais-destaque: #c56e6e;
    --texto: #5c4b51;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--rosa-claro);
    color: var(--texto);
}

h1 {
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
}

header {
    background: var(--rosa-fundo);
    padding: 20px;
    border-bottom: 2px solid var(--rosa-destaque);
    text-align: center;
}

nav {
    margin-top: 15px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--rosa-destaque);
    font-weight: bold;
}

nav a:hover {
    color: var(--rosa-mais-destaque);
}

#mural{
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-direction: column;
    max-height: 220px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: var(--rosa-fundo);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
}

.icon {
    width: 48px;
    height: 48px;
    fill: var(--rosa-destaque);
}

button {
    background: var(--rosa-destaque);
    border-radius: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: transform 0.2s;
    cursor: pointer;
}

.active {
    color: var(--rosa-mais-destaque);
    font-weight: bold;
    text-decoration: underline;
}

button:hover {
    transform: scale(1.05);
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.foto-item {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.dictadora {
    width: 50%;
    height: auto;
}

.foto-item:hover {
    transform: scale(1.02);
}